include ../box-header/box-header.pug
<div class="content box5">
  +boxHeader('D','EDUCATION')
  ul
    li
      h2.
        <span class='li-h2'>MASTERS DEGREE</span> // Feb 2011 - Jun 2014 <br>
        UNIVERSITY NAME
      p.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Donec quam felis, ultricies nec, pellentesque.
    li
      h2.
        <span class='li-h2'>MASTERS DEGREE</span> // Feb 2011 - Jun 2014 <br>
        UNIVERSITY NAME
      p.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Donec quam felis, ultricies nec, pellentesque.
    li
      h2.
        <span class='li-h2'>MASTERS DEGREE</span> // Feb 2011 - Jun 2014 <br>
        UNIVERSITY NAME
      p.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Donec quam felis, ultricies nec, pellentesque.
    li
      h2.
        <span class='li-h2'>MASTERS DEGREE</span> // Feb 2011 - Jun 2014 <br>
        UNIVERSITY NAME
      p.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Donec quam felis, ultricies nec, pellentesque.
