include ../box-header/box-header.pug
mixin education-block(quantity, ...items)
  -var i = 0
  <div class="content-block content-block__education">
    +box-header('D','EDUCATION')
    ul(class='list list_education')
      while (i < quantity)
        li.list__point
          h2.list__header
            each val in items
              <span class='list__title_color_blue list__title_weight_bold'>
               - val[0] 
              </span>&nbsp; // 
              - val[1] <br>
               -val[2]
        p.list__paragraph.
          item[3]
        - i++
