//title.styl
.box1
    font-size: 25px
    line-height: 5px
    text-align: center
    text-transform: uppercase
    padding-bottom: 93px

.box1 h1
    font-size: 55px
    font-weight: lighter
    line-height: 45px
    margin-bottom: 23px

.bolder
    font-size: 60px
    line-height: 50px
    letter-spacing 4px
    font-weight: 900
