//title.styl

.content
    text-align: center
    padding: 0 10px
    min-width: 300px
    flex-grow: 1

.box1
    font-size: 25px
    line-height: 5px
    text-align: center
    text-transform: uppercase
    padding-bottom: 90px

.box1 h1
    font-size: 55px
    font-weight: lighter
    line-height: 50px
    margin-bottom: 20px

.box1 .bolder
    font-size: 65px
    font-weight: 900
