include blocks/title/title.pug
include blocks/profile/profile.pug
include blocks/contact/contact.pug
include blocks/skills/skills.pug
include blocks/education/education.pug
include blocks/experience/experience.pug
include blocks/software/software.pug 
doctype html
html
  head
    title MainPage
    link(href='style.css' rel='stylesheet')

  body
    .container
      .container__left-content
        +title-block  
        +profile-block
        +contact-block
        +skills-block
      .container__right-content
        +education-block
        +experience-block
        +software-block
