doctype html
html
  head
    title MainPage
    link(href='style.css' rel='stylesheet')

  body
    .container
      .container__left-content
        include blocks/title/title.pug
        include blocks/profile/profile.pug
        include blocks/contact/contact.pug
        include blocks/skills/skills.pug
      .container__right-content
        include blocks/education/education.pug
        include blocks/experience/experience.pug
        include blocks/software/software.pug 
