include blocks/title/title.pug
include blocks/profile/profile.pug
include blocks/contact/contact.pug
include blocks/skills/skills.pug
include blocks/education/education.pug
include blocks/experience/experience.pug
include blocks/software/software.pug 
doctype html
html
  head
    title MainPage
    link(href='style.css' rel='stylesheet')

  body
    .container
      .container__left-content
        +title-block  
        +profile-block
        +contact-block('Main Street', 'ololo@yahoo.com','123-123-123', 'www.lolka.com' ) 
        //contact-block(address, e-mail, phone, website)
        +skills-block
      .container__right-content
        +education-block(2, '11asd', 'afas1', 'qwedds', 'asdqweasdafasd')
        +experience-block
        +software-block
