//soft.styl
.content-block__software
  margin-left -10px
  font-size 25px

.software__software-container
  display: flex
  flex-wrap: wrap
  text-align: left
  margin: 22px -100px 0 8px

.software-mixin__box
  height: 88px
  margin-right 70px
  width 277px


.software-mixin__line
  height: 23px
  background: #e6e6e6
  margin: 13px 10px 0 0
  width 277px

.software-mixin__line_condition_checked
  height: 23px
  background: $font-color
