include ../box-header/box-header.pug
include software-mixin.pug
mixin software-block()
  div(class="content-block content-block__software")
    +box-header('F','SOFTWARE') 
    .software__software-container
      +software-mixin('PHOTOSHOP',30)
      +software-mixin('DREAMWEAVER',43)
      +software-mixin('ILLUSTRATOR',70)
      +software-mixin('AFTER EFFECTS',77)
      +software-mixin('INDESIGN',100)
      +software-mixin('HTML&CSS',20)

    
