mixin skills-mixin(name, checked)
  span.skill-name= name
  br
  var n = 0
  while n < 10
    if (n < checked)
      input(type='radio' class='skill-button' checked)
    else 
      input(type='radio' class='skill-button')
