mixin skills-mixin(name, checked)
    span.skill-name= name
    br
    .skill-box
      - var i = 0
      while i < 10
        if (i < checked)
          .skill-checked
          - i++
        else
          .skill
          - i++
