//skills.styl
.skills
  text-align center
  margin 20px auto
  font-size 26px
  width 400px

.skill-wrapper
  margin-left 20px
.skill-box
  margin 7px auto 19px 17px
  height 18px
  width 340px

.skill, .skill-checked
  float left
  border-radius 50%
  height 18px
  width 18px
  margin-left 9px
  background-color: #e6e6e6

.skill-checked
  background-color $font-color
