//skills.styl
.skill-box
  text-align center
  height   50px
  width 230px
  margin auto

.skill, .skill-checked
  float left
  border-radius 50%
  height 15px
  width 15px
  margin-left 5px
  background-color: #e6e6e6

.skill-checked
  background-color $font-color
