include ../box-header/box-header.pug
include skills-mixin.pug

div(class="content box4")
  +boxHeader('B','SKILLS')
  div.skills
    +skills-mixin('CREATIVE', 6)
    +skills-mixin('INNOVATE', 5)
    +skills-mixin('TEAMWORK', 3)
    +skills-mixin('COMMUNICATION', 4)
