.content-block__profile
  padding-bottom 37px

.content-block__paragraph
  text-align left
  font-size 15px
  margin 10px 2px
  line-height 18px

.content-block__bold
  font-weight bold
  line-height 19px
