include ../box-header/box-header.pug
mixin contact-block(address, email, phone, website)
  div(class="content-block content-block__contact")
    +box-header('C','CONTACT')
    .contact__content-box
      table.contact__table
        tr
          td.table__first-column_color_blue ADDRESS
          td= address
        tr
          td.table__first-column_color_blue E-MAIL
          td= email
        tr
          td.table__first-column_color_blue PHONE
          td= phone
        tr
          td.table__first-column_color_blue WEBSITE
          td= website
