//contact.styl
.contact-box
  margin auto
  width 400px
.box3
  padding-bottom 22px
table
  height 235px
  text-align: left
  border-spacing: 13px
  font-size 20px
  margin-top 7px
  margin-left -12px
  letter-spacing 1px

table tr td:first-of-type
  color: $font-color
  font-weight: 900
  width 110px
