//contact.styl
.contact-box
  margin auto
.box3
  padding-bottom 19px
table
  height 235px
  text-align: left
  border-spacing: 15px
  font-size 20px
  margin-top 5px
  margin-left -12px
  letter-spacing 1px

table tr td:first-of-type
  color: $font-color
  font-weight: 900
  width 110px
