div(class="content box3")
  table
    tr
      td ADRESS
      td MainStreet,City
    tr
      td E-MAIL
      td contact@domain.com
    tr
      td PHONE
      td 555-555-5555
    tr
      td WEBSITE
      td www.yourweb.com
