//Переменые
$font-color = #3d6cb0  //Основной цвет

//Импорты модулей
//@import 'fonts.styl' //Шрифты
@import 'main.styl' //Общие стили
@import '../blocks/title/title.styl' //Стили  первого блока(Заголовка)
@import '../blocks/box-header/box-header.styl'
@import '../blocks/contact/contact.styl'
@import '../blocks/education/education.styl'
@import '../blocks/skills/skills.styl'
@import '../blocks/software/soft.styl'
@import '../blocks/title/title.styl'
