.container
    margin: auto
    display: flex
    flex-wrap: wrap
    min-width: 400px
    max-width 1150px
    height: 1200px
    font: 15px 'MyriadProRegular', serif

.container__left-content
    display: flex
    flex-direction: column
    flex-basis: 400px
    flex-grow: 1
    padding 80px 69px 0 5px

.container__right-content
    flex-direction: column
    display: flex
    flex-basis: 650px
    flex-grow: 2
    margin-top 68px

.content-block
    text-align: center
    padding: 0 10px
    min-width: 300px
    flex-grow: 1
