mixin boxHeader(headerLogo, headerName)
  .box-header
    .header-logo
      .circle= headerLogo
    .header-text 
      b= headerName
    svg.header-line
      <line x1="3%" y1="50%" x2="100%" y2="50%" stroke-width="5px" stroke="#3d6cb0">
