mixin box-header(headerLogo, headerName)
  .box-header
    .box-header__logo
      .box-header__circle= headerLogo
    .box-header__text
      b= headerName
    svg.box-header__line
      <line x1="3%" y1="50%" x2="100%" y2="50%" stroke-width="5px" stroke="#3d6cb0">
