include ../box-header/box-header.pug
div(class="content-block content-block__experience")
  +box-header('E','EXPERIENCE')
  ul(class='list list_experience')
    li.list__point
      h2.list__header
        <span class='list__title_weight_bold'>COMPANY NAME</span>&nbsp;  // Feb 2011 - Jun 2014 <br>
        YOUR JOB HERE
      p.list__paragraph.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Donec quam felis, ultricies nec, pellentesque.
    li.list__point
      h2.list__header
        <span class='list__title_weight_bold'>COMPANY NAME</span>&nbsp;  // Feb 2011 - Jun 2014 <br>
        YOUR JOB HERE
      p.list__paragraph.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Donec quam felis, ultricies nec, pellentesque.
    li.list__point
      h2.list__header
        <span class='list__title_weight_bold'>COMPANY NAME</span>&nbsp;  // Feb 2011 - Jun 2014 <br>
        YOUR JOB HERE
      p.list__paragraph.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Donec quam felis, ultricies nec, pellentesque.
